<div class="datos">
    <p><strong>Nombre del país:</strong>Chile</p>
    <p>
    <img src="assets/imagenes/chile.png">
    </p>
    <h3>Datos generales.</h3>
    <p>Chile es un país de América ubicado en el extremo sudoeste de América del Sur.
      Su nombre oficial es República de Chile26? y su capital es la ciudad de Santiago.27?n 8?
      Primer país sudamericano en ingresar a la Organización para la Cooperación y el
      Desarrollo Económicos, Chile es una de las economías de América Latina que más ha
      crecido desde mediados de la década de 1980.</p>
    <p>Antes del descubrimiento de América, las tierras situadas al sur del desierto de Atacama ya
      se llamaban Chili en la tradición indígena.46? Una vez instalados en Nueva Castilla y
      Nueva Toledo, los conquistadores españoles siguieron llamando de esa forma a la
      región del sur, a veces también conocida como «valle de Chile», nombre que se extendió
      posteriormente a todo el actual país.47?</p>
</div>
