<div class="datos">
  <p><strong>Nombre del país:</strong>Argentina</p>
  <p>
  <img src="assets/imagenes/ar.png">
  </p>
  <h3>Datos generales.</h3>
  <p>Argentina, llamada oficialmente República Argentina,n 1? es un país soberano de América del Sur,
    ubicado en el extremo sur y sudeste de dicho subcontinente. Adopta la forma de gobierno republicana,
    democrática, representativa y federal.</p>
  <p>La Argentina está organizada como un Estado federal descentralizado, integrado desde 1994 por un
    Estado nacional y 24 estados autogobernados,11?12? siendo estos sus 23 provincias sumada la ciudad
    autónoma de Buenos Aires designada como Capital Federal del país.
    Cada estado tiene autonomía política, constitución, bandera y cuerpo de seguridad propios.
    Las 23 provincias mantienen todos los poderes no delegados al Estado nacional y
    garantizan la autonomía de sus municipios.13?14?</p>
</div>
