<div class="datos">
    <p><strong>Nombre del país:</strong>Uruguay</p>
    <p>
    <img src="assets/imagenes/uruguay.png">
    </p>
    <h3>Datos generales.</h3>
    <p>Uruguay, oficialmente República Oriental del Uruguay, es un país de América del Sur,
      situado en la parte oriental del Cono Sur americano. Limita al noreste con Brasil —estado
      de Río Grande del Sur—, al oeste con Argentina —provincias de Entre Ríos y Corrientes— y
      tiene costas en el océano Atlántico al sureste y sobre el Río de la Plata hacia el sur.
      Abarca 176?215 km² y es el segundo país más pequeño de Sudamérica, después de Surinam.1?
      Según los datos del último censo del INE en 2011, la población de Uruguay es de 3.290.454
      habitantes, por lo que figura en la décima posición entre los países sudamericanos.Uruguay,
      oficialmente República Oriental del Uruguay, es un país de América del Sur, situado en la
      parte oriental del Cono Sur americano. Limita al noreste con Brasil
      —estado de Río Grande del Sur—, al oeste con Argentina —provincias de Entre Ríos y Corrientes— y
      tiene costas en el océano Atlántico al sureste y sobre el Río de la Plata hacia el sur.
      Abarca 176?215 km² y es el segundo país más pequeño de Sudamérica, después de Surinam.1?
      Según los datos del último censo del INE en 2011, la población de Uruguay
      es de 3.290.454 habitantes, por lo que figura en la décima posición entre los países
      sudamericanos.</p>
</div>
